
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lexend+Deca&family=Mooli&family=Quicksand:wght@300&family=Ubuntu&display=swap');*{
    margin: 0;
    list-style: none;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* body{
    width: fit-content;
    background-color: #f6f6f2;
} */
html, body {
  height: 100%;
  width: 100%;
  width: fit-content;
}
/* SIDEBAR CODE */

.sidebar{
  position: fixed;
  width: 60px;
  z-index: 100;
  top:20em;
  /* margin-top: 150px; */
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
  

  /* position: fixed;
    width: 70px;
    margin-top: 411px;
    margin-left: 1385px;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4); */
}
.sidebar li{
  height: 60px;
  position:relative;
}
.sidebar li a{
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  padding-left:25%;
  border-bottom: 1px solid rgba(0,0,0,.4);
  transition: all .3s linear;
}
.sidebar li:nth-child(1) a{
  background: #4267B2;
}
.sidebar li:nth-child(2) a{
  background: #1DA1F2;
}
.sidebar li:nth-child(3) a{
  background: #E1306C;
}
.sidebar li:nth-child(4) a{
  background: #2867B2;
}
.sidebar li:nth-child(5) a{
  background: #333;
}
.sidebar li:nth-child(6) a{
  background: #ff0000;
}
.sidebar li a i{
  position:absolute;
  top: 17px;
  left: 20px;
  font-size: 27px;
}
.sidebar ul li a span{
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sidebar a:hover {
  z-index:1;
  width: 200px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}
.sidebar ul li:hover a span{
  padding-left: 30%;
  display: block;
}
.stackinfo{
  height: 100vh;
  background-color: #04284d;
  background-image: url('5001147_19742.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  text-align: center;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stacks1{
  padding: 25px;
  position: absolute;
  height: 250px;
  width: 220px;
  background-color: #8853ff;
  background-image: url('5001147_19742.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid red;
  top: 10%;
  left: 45%;
  z-index: 5;
}
.stacks2{
  padding: 25px;
  position: absolute;
  height: 250px;
  width: 220px;
  background-color:#ff0000;
  border: 5px solid red;
  background-image: url('5001147_19742.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20%;
  left: 35%;
  z-index: 10;
}
.stacks3{
  padding: 25px;
  position: absolute;
  height: 250px;
  width: 220px;
  background-color:aquamarine;
  border: 5px solid red;
  background-image: url('5001147_19742.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 25%;
    left: 59%;
    z-index: 15;
}
.stacks4{
  padding: 25px;
  position: absolute;
  height: 250px;
  width: 220px;
  background-color:darkblue;
  border: 5px solid red;
  background-image: url('5001147_19742.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 52%;
  left: 63%;
  z-index: 20;
}
.stacks5{
  padding: 25px;
  position: absolute;
  height: 250px;
  width: 220px;
  background-color:darkblue;
  border: 5px solid red;
  background-image: url('5001147_19742.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 36%;
  left: 29%;
  z-index: 20;
}
.stacks6{
  padding: 25px;
  position: absolute;
  height: 250px;
  width: 220px;
  background-color:darkblue;
  border: 5px solid red;
  background-image: url('5001147_19742.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 49%;
  left: 33%;
  z-index: 20;
}



/* SIDEBAR END */
nav{
    color: black;
    /* border: 2px solid red; */
    display:flex ;
    position: absolute;
    top:0;
   /* background-color: #2d3e4f; */
   /* background-color: #f6f6f2; */
   width: 100%;
    align-items: center;
    justify-content: space-around;
    padding:10px;

#nav-left{
    font-size: 16px;
    /* border: 2px solid black; */
    font-weight: 800;
    display: flex;
    align-items: center;
}
#nav-left h1{
    font-weight: 500;
    color:navy;
}
#nav-left img{
    margin-right: 12px;
    width: 80px;
    border-radius: 82%;
}
nav ul{
    border: 2px solid blue;
    display: flex;
    gap: 1em;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
   text-decoration: none;
   font-size: 20px;
   font-weight: 500;
   color: white;
   letter-spacing: 1px;
}
nav .hamburger i {
    margin-right: 16px;
    position: relative;
    z-index: 103;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; 
  } 
  .nav-ul li a {
    position: relative;
  }
  
  .nav-ul a::after {
    content: "";
    position: absolute;
    background-color: #ff004f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .nav-ul a:hover::after {
    width: 100%;
  }

.card{
    position: sticky;
    top:0;
}
.card img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card h1{
    border:2px solid black;
    position: absolute;
    font-size: 25px;
    /* max-width: 25em; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 5%; 
     letter-spacing: 5px; 
     background-color: #5b738a; 
     padding: 12px;
    border-top-right-radius:12% ;
    border-bottom-left-radius:12% ;
    color: white;
    z-index: 5; 
}

#click{
    display: none;
}
.home{
    background-color: #f6f6f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #heading{
    color: rgb(255, 255, 255);
    /* margin: auto; */
    position: absolute;
    top: 21%;
    font-size: 45px;
    margin: 0 172px;
  }
.container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* top: -59px; */
    /* border: 2px solid #04284d; */
    background-color: #f6f6f2;
    margin: auto;
    min-height:35em;
    /* border-radius: 12%; */
    
  }
#box{
  transition: all 0.2ms ease-in-out;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  font-size: 20px;
  min-height: 3em;
  color: white;
}
#box span{
  width: 100%;
  display: flex;
  align-items: center;
}

#span1{
  background-color: rgb(35, 167, 123);
  padding: 12px;
    border-top-left-radius:20px ;
}
#span2{
    padding: 12px;
    background-color: rgb(241, 185, 100);
}
#span3{
  padding: 12px;
  background-color: rgb(226, 58, 24);
}
#span4{
  padding: 12px;
  background-color: rgb(53, 170, 212);
}
#span5{
  padding: 12px;
  background-color: rgb(116, 29, 128);
  border-top-right-radius:20px;
}
#span1,#span2,#span3,#span4,#span5{
    position: relative;
    top:-1em;
  }
  
  #img1{
    display: block;
    background-position: center;
    width: 100%;
    background-size: contain;
}
#academy{
    display: flex;
    justify-content: space-around;
}
.left{
    display: flex;
    flex-direction: column;
    margin: 28px;
    justify-content: center;
    /* color:lightcyan; */
    /* border:2px solid red; */
  }
  
  .left h1{
    font-size: 2em;
    display: flex;
    /* color:#04284d   */
    /* margin:0 18px; */
}

.left p{
  /* margin: 16px; */
  font-size: 24px;
  /* margin-left: 1em; */
    /* margin-bottom: 1em; */
    /* color:; */
    font-weight: 500;
    /* border:2px solid red; */
}
.right{
  /* border:2px solid red; */
    min-width: 65%;
    padding: 16px 12px;
    display: flex;
    /* flex-direction: column; */
    /* background-color: #86a2be; */
    color: black;
    min-height: 31em;
    justify-content: center;
  }
  .about{
    display: flex;
    /* justify-content: center; */
    padding: 12px;
    align-items: center;
    flex-direction: column;
    width: 20em;
    border-top-right-radius: 12%;
    border-bottom-left-radius: 12%;
  height: 19em;
  background-color: #f2f2f2;
  /* background: linear-gradient(to right,#051937,#A8EB12); */
  border:2px solid maroon;
}

#about1{
  position: relative;
  top: 158px;
  z-index: 0;
  left: 112px;
}
#about1 p,#about2 p,#about3 p{
  margin-top: 12px;
}


#about2{
  position: relative;
  top:82px;
  z-index: 1;
}
#about3{
  position: relative;
  right:123px;
  z-index: 2;
}
#first h1{
    font-size: 47px;
    font-family: 'Times New Roman', Times, serif;
    color: #04284d;
    
}
#second h1{
    color: #113251;
}
#second h2{
    letter-spacing: 2px;
}
.follow{
    display: flex;
    align-items: center;
    /* border:2px solid red; */
    gap: 2em;

}
.follow h3{
    color: darkblue;
}
.follow span{
    font-size: 30px;
    
}
.follow #insta i{
    color:rgb(230, 45, 76);
}
 #courses-container {
    background-color: #f2f2f2;
     /* border: 2px solid blue;    */
  }
  #courses-container h1{
    padding: 12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 40px;
    margin-bottom: 0;
  }
  
   .course-w {
    width: 95%;
    height: 40em;
    align-items: center;
    margin: auto;
    display: flex;
    overflow: hidden;
    /* border: 2px solid rgb(4, 69, 4); */
  } 
  
   .course-box {
    max-width: 1062px;
    overflow: hidden;
    margin: auto;
    display: flex;
    gap: 4px;
  }
  .course-box-box {
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    height: auto;
  }
  .course-box-box .img {
    object-fit: cover;
    width: 350px;
    height: 280px;
  }
  .course-box-box:first-child {
    margin-left: 0px;
  }
  .brief {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 2px 12px;
    color: black;
  }
  .brief p {
    height: 5em;
    /* border:2px solid yellow; */
  }
  .read,
  .read a {
    text-decoration: none;
    padding: 10px;
    margin: 12px 0;
    border-radius: 12px;
    border: none;
    transition: 0.2s ease-in-out;
    font-size: 18px;
    background: linear-gradient(to left bottom, #031a9a, #8853ff);
    color: #f2f2f2;
  }
  .read:hover {
    transform: scale(1.1);
  }
  .btn-toggle {
    border: none;
    position: relative;
    width: 100%;
    background: linear-gradient(to left bottom, #031a9a, #8853ff);
  }
  .btn-toggle i {
    font-size: 36px;
    padding: 12px;
    color: rgb(255, 255, 255);
  }
  .arrows {
    top: -22px;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
    width: 8em;
  } 
/* FOOTER  */

 footer {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    padding: 6rem 4.9rem;
    background: lightblue;
    color: white;
    font-size: 1.1rem;
    position: relative;
} 

 #mainfoot {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding: 0.5rem 1rem;
}
.dot{
    background-color: white;
    height: 0.4rem;
    width: 0.4rem;
} 
#facility h1{
    padding: 12px;
    margin-left: 40px;
    margin-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dept {
    margin-bottom: 3%;
    display: flex;
    height: 12%;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.dept strong{
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.dept ul li a{
    color:#000;
}
.logo {
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    color: navy;
    font-weight: light;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 3%;
}

.logo span {
    font-size: x-large;
}

.logo p {
    font-size: small;
}

.logo img {
    width: 5em;
    background-color: white;
    padding: 8px;
     margin-bottom: 3%; 
    border-radius: 8%;
}

#mainfoot ul li {
    list-style: none;
}
#mainfoot ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    display: flex; 
    align-items: center;
    gap: 2%;
}

.socialfoot {
    display: flex;
    gap: 8%;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: white;
    margin-bottom: 1.8%;
}

.socialfoot div {
    padding: 0.5%;
}

hr {
    margin-bottom: 0.5%;
}

.socialfoot div:hover {
     background-color: slategray;
}

.copyright {
    color: navy;
    text-align: center;
    font-size: 0.65rem;
}

.copyright a {
    color: navy;
} 

@media(max-width:1112px)
{

    nav ul{
        position: fixed;
        top:-100%;
        left:0;
        background-color: rgb(235, 174, 174)   ;
        height: 60vh;
        z-index: 101;
        width: 100%;
        display: block;
        border-bottom-left-radius:12% ;
        border-bottom-right-radius:12% ;
        text-align: center;
        transition: all 1s ease-in-out;
    }
    #click:checked~.hamburger i::before{
        content: "\f00d";
        /* z-index: 3; */
    }
    #click:checked~ul{
        top: 0px;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav .hamburger i {
        display: block; 
      } 

}
@media(max-width:360px){
    .card h1{
        font-size: 20px;
        max-width:40%;
    }
} 
.placement {
    text-align: center;
    font-size: medium;
}

/* DATA */

.data {
    display: flex;
    flex-wrap: wrap;
    background-color: #8853ff;
    height: 50vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.data-box {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

/* PEOPLE */

.people {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
    box-sizing: unset;
  }
  .testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
  }
  .testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
  }
  .testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
  }
  .slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
  .slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
  }
  .slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  .details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
  }
  /* swiper button css */
  .nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav-btn::after,
  .nav-btn::before {
    font-size: 20px;
    color: black;
  }
  .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color:chocolate; */
  }
  .swiper-pagination-bullet-active {
    background-color: #4070f4;
  }
  @media screen and (max-width: 768px) {
    .slide p {
      padding: 0 20px;
    }
    .nav-btn {
      display: none;
    }
  }
  /* swiper button css */
